
.DS_Store
Datasets/data_by_genres.csv
Datasets/gutiarTabs.csv
Datasets/lyrics.csv
Datasets/tracks_features.csv
Datasets/integratedData.csv
Datasets/integratedData (1).csv
Datasets/integratedData (2).csv